/*  Section 1 */
.amazing__services {
  padding-top: 126px;
  padding-bottom: 74px;
}

.text__sections1 {
  font-size: 24px;
  font-family: $openwork-text;
  color: $section-text-color;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.text__sections2 {
  font-size: 30px;
  font-family: $prevailing-text;
  color: $section-text-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 65px;

  &::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: $hover-background-color;
    content: '';
    margin: 40px auto;
  }
}

.sections__services {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.svg__services {
  width: 32px;
  height: 32px;
  margin-right: 27px;
  fill: $svg-color;
}

.item__services {
  width: 360px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 97px;
  background-position: left top;
  background-repeat: no-repeat;
}

.item__text {
  width: 300px;
  font-size: 15px;
  font-family: $secondary-text;
  color: $section-text-color2;
  line-height: 1.6;
  text-align: left;
  display: block;
}

.item__text__name {
  font-size: 14px;
  font-family: $prevailing-text;
  color: $section-text-color;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  width: 380px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
  margin-bottom: 20px;
}

/*  Section 2 */

.our__team {
  padding-bottom: 77px;
}

.text__sections1_2 {
  font-size: 24px;
  font-family: $openwork-text;
  color: $section-text-color;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.text__sections2_2 {
  font-size: 30px;
  font-family: $prevailing-text;
  color: $section-text-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 42px;

  &::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: $hover-background-color;
    content: '';
    margin: 40px auto;
  }
}

.item__text_p_2 {
  font-size: 15px;
  font-family: $secondary-text;
  color: $section-text-color2;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 88px;
}

.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team__item {
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 470px;
  top: 0px;
  left: 0px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(239, 138, 138, 0.8)),
    to(rgba(242, 217, 136, 0.8))
  );
  background: linear-gradient(
    to top,
    rgba(239, 138, 138, 0.8),
    rgba(242, 217, 136, 0.8)
  );
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0 0 $svg-color;
  box-shadow: 10px 10px 0 0  $svg-color;
  opacity: 0;

  & {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 0;
  }
}

img {
  margin-bottom: 30px;
}

.button {
  width: 224px;
  height: 56px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay__button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: $hover-color;
  border-style: solid;
  border-color: $header-text-color;
  margin-right: 1px;
  width: 56px;
  height: 56px;
  border: none;

  &:hover {
    background-color: $hover-background-color;
  }

  &:hover .svg-button {
    fill: $header-text-color;
  }
}

.svg-button {
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 0;
  fill: $hover-background-color;
}

.svg-button:hover {
  stroke: $hover-color;
  fill: $header-text-color;
}

.team__name {
  font-size: 14px;
  font-family: $prevailing-text;
  color: $section-text-color;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 15px;
  font-family: $secondary-text;
  color: $section-text-color2;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}
