html {
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.container{
   width: 1202px;
   margin: 0 auto;
   padding: 0px;
}
