$hover-color:rgb(252, 227, 138);
$header-text-color: #fff;
$hover-background-color: #f38181;
$svg-color: #95e1d3;
$section-text-color:rgb(51, 51, 51);
$section-text-color2:rgb(153, 153, 153);
$prevailing-text: 'Montserrat', sans-serif;
$secondary-text: 'Roboto', sans-serif;
$openwork-text:'Kaushan Script', sans-serif;
